*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: rgb(207, 206, 206) !important;
    background-color: rgb(207, 206, 206) !important;
}
/* .header-navbar{
    position: sticky ;
    top: 0;
    z-index: 10;
} */
.navbar {
    background-color: rgb(83, 24, 24) !important; /* Replace #yourColorCode with your desired color */
}
 


/* Menu section */

.menu-section .card{
    margin: 10px;
    margin-top: 30px;
}


.menu-section img{
    /* height: 300px; */
}

.bouncing-card:hover{
    cursor: pointer;
    animation: bounce 1s 1 ;
}

/* Carousel Slider */
.section-carousel{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.section-carousel img{
    height: 300px ;
    color: black !important;
    border-radius: 10px;

}